name: Java CI with Gradle

on: [push]

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Branch
      uses: actions/checkout@v2
      
    - name: set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'adopt'
        cache: gradle
      
    - name: Make gradlew executable
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      run: ./gradlew build
