name: Java CI with Gradle

on: [push]

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Branch
      uses: actions/checkout@v2
      
    - name: set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'adopt'
        cache: gradle
        
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      
    - name: Change wrapper permissions
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      run: ./gradlew build
